//- 
//-     Copyright (C) 2017  Michael Kolb
//- 
//-     This program is free software: you can redistribute it and/or modify
//-     it under the terms of the GNU General Public License as published by
//-     the Free Software Foundation, either version 3 of the License, or
//-     (at your option) any later version.
//- 
//-     This program is distributed in the hope that it will be useful,
//-     but WITHOUT ANY WARRANTY; without even the implied warranty of
//-     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-     GNU General Public License for more details.
//- 
//-     You should have received a copy of the GNU General Public License
//-     along with this program.  If not, see <http://www.gnu.org/licenses/>.

li.dropdown
  a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Issues
    span.caret
  ul.dropdown-menu#jira-filters
    li.divider(role="separator")
    li
      
      a(href="/api/jira/createissue")
        span.glyphicon.glyphicon-plus
        +space
        | Create Issue
  script.
    $(document).ready(function() {
      var filters = $.getJSON("/api/jira/filter/favourite", function(data) {
          $(data).each(function(index, value) {
              $('#jira-filters').prepend('<li><a href="/api/jira/filterresults/'+value.id+'"><span class="glyphicon glyphicon-filter"/> '+value.name+'</a></li>');
          });
      });
    });
