//- 
//-     Copyright (C) 2017  Michael Kolb
//- 
//-     This program is free software: you can redistribute it and/or modify
//-     it under the terms of the GNU General Public License as published by
//-     the Free Software Foundation, either version 3 of the License, or
//-     (at your option) any later version.
//- 
//-     This program is distributed in the hope that it will be useful,
//-     but WITHOUT ANY WARRANTY; without even the implied warranty of
//-     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-     GNU General Public License for more details.
//- 
//-     You should have received a copy of the GNU General Public License
//-     along with this program.  If not, see <http://www.gnu.org/licenses/>.

doctype html
html
  head
    title= title
    
    script(src='/js/jquery.min.js')
    
    //- bootstrap
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(src='/js/bootstrap.min.js')
    
    //- datatables  
    script(src='/js/jquery.datatables.js')
    link(rel='stylesheet', href='/css/dataTables.bootstrap.css')
    script(src='/js/dataTables.bootstrap.js')
    
    script(src='/js/datatables.colReorder.js')
    link(rel='stylesheet', href='/css/colReorder.bootstrap.css')
    
    script(src='/js/datatables.fixedHeader.js')
    link(rel='stylesheet', href='/css/fixedHeader.bootstrap.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
          .navbar-header
            a.navbar-brand(href="/") #{title}
          .collapse.navbar-collapse
            if user
              include menuloggedin
            include loginform
      

    block content
      
    include footer
