doctype html
html
  head
    title= title
    
    script(src='/js/jquery.min.js')
    
    //- bootstrap
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(src='/js/bootstrap.min.js')
    
    //- datatables  
    script(src='/js/jquery.datatables.js')
    link(rel='stylesheet', href='/css/dataTables.bootstrap.css')
    script(src='/js/dataTables.bootstrap.js')
    
    script(src='/js/datatables.colReorder.js')
    link(rel='stylesheet', href='/css/colReorder.bootstrap.css')
    
    script(src='/js/datatables.fixedHeader.js')
    link(rel='stylesheet', href='/css/fixedHeader.bootstrap.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
          .navbar-header
            a.navbar-brand(href="/") #{title}
          .collapse.navbar-collapse
            if user
              include menuloggedin
            include loginform
      

    block content
